extends layout

block content
    h1(align="center") We found your perfect match!
    div(align="center")

        ul
            li Name: #{fname} #{lname}
            li Email: #{email}
            li Phone: #{phone}
            li Bio: #{bio}

        img(src="https://thispersondoesnotexist.com/image")